

  
  .contact{
  
    display: flex;
    width: 80%;
    margin: 100px auto 0 auto;
    justify-content: center;
  }
  
  .imgL{
    margin: 100px;
    width: 100px;
    margin: 0 20px;
    padding:0;
    
    
  }
  a{
    
    width: 200px;
  }
  .contactInfo{
  font-size: 30px;
  line-height: 49px;
  text-align: center;
  margin: 20px;
  color:  rgb(236, 232, 232);

  }

  @media screen and (min-width:992px) and (max-width:1200px){
    
  }


/*mediano*/
@media screen and (min-width:510px) and (max-width:723px){}
 /*pequeña*/
 @media screen and (min-width:230px) and (max-width:509px){
  
  .imgL{
    width: 80px;
    height: 80%;
    margin:5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact{
 
    margin: 100px;
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contactInfo{
    text-transform: uppercase;
    font-size: 100%;
  }
 }