<div class="github-contact">
<div class="contact">
        <a target="blank" href="https://github.com/macarenasaez"><img  class ="imgL" src="../../../assets/imagen/github.png" alt=""></a>
        <a target="blank" href="../../../assets/imagen/Macarena sáez.pdf"><img class ="imgL" src="../../../assets/imagen/curriculum(1).png" alt=""></a>
        <a target="blank" href="https://www.linkedin.com/in/macarena-saez-peña/"><img  class ="imgL"src="../../../assets/imagen/linkedin.png" alt=""></a>
    </div>

<div class="contactInfo">
<p>Email: makadaira@gmail.com</p>
</div>
</div>
 