

  
  .contact{
  
    display: flex;
    width: 80%;
    margin: 100px auto 0 auto;
    justify-content: center;
  }
  
  .imgL{
    margin: 100px;
    width: 100px;
    margin: 0 20px;
    padding:0;
    
    
  }
  a{
    
    width: 200px;
  }
  .contactInfo{
  font-size: 30px;
  line-height: 49px;
  text-align: center;
  margin: 20px;
  color:  rgb(236, 232, 232);

  }

  @media screen and (min-width:992px) and (max-width:1200px){
    
  }
