<div class="github-contact">
<div class="contact">
        <a target="blank" href="https://github.com/macarenasaez"><img src="../../../assets/imagen/gitmaca.svg" alt=""></a>
        <a target="blank" href="../../../assets/imagen/Macarena sáez.pdf"><img src="../../../assets/imagen/cv.svg" alt=""></a>
        <a target="blank" href="https://www.linkedin.com/in/macarena-saez-peña/"><img src="../../../assets/imagen/linkedin.svg" alt=""></a>
    </div>
</div>
<div class="contactInfo">
<p>Email: makadaira@gmail.com</p>
</div>
  <div class="contactInfo">
      <p>celular: +569 54632903</p>

  </div>      