    .navBar {

    display: flex;
    justify-content: flex-end;
    color:  rgb(236, 232, 232);
    width: 100%;
    height: 80px;
    align-self: center;
    align-items: center;
  }

  a{
    text-decoration: none;
    color:  rgb(236, 232, 232);
  }
  
  .navBar ul {
    display: flex;
    flex-direction: row;
    color:  rgb(236, 232, 232);
  }
  
  .navBar ul li {
    
    text-transform: uppercase;
    color:  rgb(236, 232, 232);
    font-size: 18px;
    margin: 30px;
    list-style: none;
    align-items: center; 
    justify-content: center;
  }



  /*grande*/
  @media screen and (min-width:992px) and (max-width:1200px){
    .nav {
      display: block;
      text-align: center;
      align-items: center;
    }
    
  a{
    text-decoration: none;
  
  }
  
  .navBar ul {
    display: flex;
    flex-direction: row;
  
  }
  
  .navBar ul li {
    
    text-transform: uppercase;
    font-size: 18px;
    margin: 30px;
    list-style: none;
    align-items: center; 
    justify-content: center;
  }
  

  }
  /*mediano*/
  @media screen and (min-width:510px) and (max-width:723px){
   

    
    
    .navBar ul li {
      
      text-transform: uppercase;
      font-size: 18px;
      margin: 20px;
      list-style: none;
      align-items: center; 
      justify-content: center;
      font-size: 1.25rem;
    }
  
  }
  /*pequeño*/
  @media screen and (min-width:230px) and (max-width:509px){
  
   
  
    a{
      text-decoration: none;      
    }
    
    .navBar ul {
      
      display: flex;
      flex-direction: row;    
    }
    
    .navBar ul li {
      text-transform: uppercase;
      font-size: 9px;
      margin: 10px;
      list-style: none;
     
    }
  
  }
