
   
  
  .project{
  width: 900px;
	height:100px;
  padding:50px;
  
  }
  h1{

    text-align-last: center;
    color: #ffff;
  }
.projec{
  display: inline-block;
  margin: 50px;
  vertical-align: top;
  width: 31.9%;
}
 
  .foto{
  
   max-width: 100%;
    
  
  }
  .project h4{
    color: #ffff;
  }
  .project p{
    color: #ffff;  
  }
  
  .git{
    margin: 10px;
    width: 40px;
    height: auto;
    justify-self: flex-end;
  
  }