
<div class="project">
    <div class="projec">
        
        <img class="foto" src="../../../assets/imagen/md.jpg" alt=""> 
        <h4>MD-Links</h4>
        <p>Es un proyecto en el cueal creamos una libreria
            para extrer archibo dentro de un directorio 
        </p>
    </div>

<div class="projec">
        <img class="foto" src="../../../assets/imagen/codigo.png" alt="">
        <h4>Cipher</h4>
        <p>Un proyecto donde podemos encriptar mensajes
            inspirado en el famoso codigo cesar 
        </p>
</div>
<div class="projec">
        <img class="foto" src="../../../assets/imagen/dataLover.png" alt=""> 
        <h4>data-lovers</h4>
        <p>Es un proyecto donde podemos filtrar los personajes
         por especies de la famosa seri rick and morty 
        </p>
</div>
</div>

<div class="git">
    <a target="_blank"href="https://github.com/macarenasaez"><img src="../../../assets/imagen/gitmaca.svg" alt=""></a>

</div>