
<section class="project">
   <h1>Algunos de mis proyectos </h1>

<div class="projec">
        <img class="foto" src="../../../assets/imagen/codigo.png" alt="">
        <h4>Cipher</h4>
        <p>Un proyecto donde podemos encriptar mensajes
            inspirado en el famoso codigo cesar 
        </p>
        <div class="git">
            <a target="_blank" href="https://github.com/macarenasaez/SCL011-Cipher"><img src="../../../assets/imagen/gitmaca.svg" alt=""></a>

        </div>
</div>
<div class="projec">
        <img class="foto" src="../../../assets/imagen/dataLover.png" alt=""> 
        <h4>data-lovers</h4>
        <p>Es un proyecto donde podemos filtrar los personajes
         por especies de la famosa seri rick and morty 
        </p>
  <div class="git">
            <a target="_blank"href="https://github.com/macarenasaez/SCL001-data-lovers"><img src="../../../assets/imagen/gitmaca.svg" alt=""></a>
        
  </div>
              
</div>
</section>
 
