<div class="skillsContainer">
<div class="skillset">
<div class="t">
                <h2>Herramienas de trabajo</h2>
</div>
<img class ="logos"src="../../../assets/imagen/88.svg" alt="">
<img class="logos" src="../../../assets/imagen/jjvv.svg" alt="">
<img class="logos" src="../../../assets/imagen/33.svg" alt="">
<img class="logos" src="../../../assets/imagen/gitt.svg" alt="">
<img class="logos" src="../../../assets/imagen/gg.svg" alt="">
<img class="logos" src="../../../assets/imagen/bootstrap.png" alt="">
<img class="logos"src="../../../assets/imagen/angular.svg" alt="">
<img class="logos" src="../../../assets/imagen/node.svg" alt="">
        
</div>
</div>
