<section class="skillsContainer">

<div class="t">
                <h2>Tecnologías Utilizadas  </h2>
</div>
<div class="skillset">
<img class ="logos"src="../../../assets/imagen/html.svg" alt="">
<img class="logos" src="../../../assets/imagen/js.svg" alt="">
<img class="logos" src="../../../assets/imagen/css3.svg" alt="">
<img class="logos" src="../../../assets/imagen/bootstrap.png" alt="">

</div>
<div class="skillset">
    <img class="logos"src="../../../assets/imagen/angular.svg" alt="">
    <img class="logos" src="../../../assets/imagen/nd.png" alt="">
    <img class="logos" src="../../../assets/imagen/gitt.svg" alt="">
    <img class="logos" src="../../../assets/imagen/gg.svg" alt="">       
</div>

</section>
