
* {
  margin: 0;
  padding: 0;
}
.container-bio{

  display: flex;
  align-items: center;
}
  .wrapperImg{
    
    width: 300px;
    height: 300px;
    display: grid;
    align-content: flex-end;
    padding: 50px;

  }
  .foto{
    
    width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
    clip-path: circle(38%);
-webkit-box-align: center;

  }
  
.content{

margin-left: 400px;
  position: absolute;
  height: auto;
   font-weight: normal;
   font-size: 21px;
   color: #FFFFFF;
   
  
  
}

@media screen and (min-width:992px) and (max-width:1200px){
  
}