<section class="container-bio">

    <div class="wrapperImg">
        <img class="foto" src="../../../assets/imagen/maca.JPG" alt="">
    </div>

    <div class="content">

        <h3>Sobre mi </h3>

        <div>
            
            <p>soy madre apasionada por la tecnología,los libros y la ilustración.</p>
            <p>Decidí ser una front-end Developer y ha sido la mejor decisión que tomé,</p>
            <p>cada día hay mucho que aprender ya que todo siempre se está actualizando. </p>
            <p>En mi paso por Laboratoria he aprendido a aprender, considerándome hoy una </p>
            <p>profesional con gran potencial y compromiso</p>
        </div>
    </div>

</section>