
   
    <div class="cont">
        <div class="wrapperImg">  
            <img class= "foto"src="../../../assets/imagen/maca.JPG" alt="">          
        </div> 
        <div class="text">
            <h3> Macarena Sáez</h3>
            <h4>Front-end Developer</h4>
        </div>
    
    <div class="content">
        <h3>Sobre mi </h3>
       <p> Cada día tengo nuevas cosas que aprender</p>
       <p>no soy la mujer perfecta pero doy todo lo que puedo de</p>
        <p>mi para cada proyecto,poder enfrentar mis metas que me propongo</p>
        <p> por delante y aprender   de mis errores y de mis logros.</p>
        <p>Decidí  ser una fron-end develop  a sido la mejor decisión que tome al</p>
        <p>cada día hay mucho que aprender ya que todo siempre se esta actualizando </p>
        <p>>entrego lo mejor de mí en cada proyecto y aprender de ello y enfrentar  cada</p>
        <p>desafío  con lo mejor de mi...</p>
    </div>
</div>

